[% BLOCK block_before %]
<table border="0" class="wrap" summary="wrapper table">
<tr>
<td>
[% END %]

[% BLOCK block_after %]
</td>
</tr>
</table>
[% END %]

[% BLOCK link_to_top %]
<p class="to_top"><a href="http://mikmod.shlomifish.org/">Back to the MikMod Homepage</a></p>
[% END %]
