<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<META http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<META NAME="AUTHOR" CONTENT="Raphael Assenat">
<META NAME="keywords" CONTENT="MikMod, libMikmod, mikmod, libmikmod, music,
player, unix, linux, 669, amf, dsm, far, gdb, imf, it, med, mod, mtm, s3m, stm, stx, ult,
xm">
<META NAME="description" CONTENT="MikMod Logo contest">
<title>MikMod logo contest</title>
</head>
<body bgcolor="#efefdf">
<h1>Mikmod logo contest</h1>

<h2>The winner is:</h2>
<p>
Logo by Andre Bommele (a.k.a. SnipeZ / N.D. Ray):<br>
Entry #13: <b>(8 votes)</b><br> 
<img src="logo_submissions/andre/mikmod.png" alt="">
</p>

<hr>
<br>
<br>
<p>
Entry #1: The old logo from mikmod.org, artist unknown: <b>(0 votes)</b><br>
<img src="logo_submissions/miodrag/mikmod.gif" alt="old logo">
</p>

<p>
Entry #2: The old logo from mikmod.org, artist unknown, with color changed by me: <b>(1 vote)</b><br>
<img src="logo_submissions/miodrag/mikmod2.png" alt="old logo update">
</p>

<p>
Entry #3: The old logo from mikmod.darkorb.net, by <a href="http://www.iki.fi/wwwwolf">Urpo Lankinen:</a> <b>(0 votes)</b><br>
<img src="logo_submissions/urpo/mikmod-urpo.jpg" alt="old logo darkorb">
</p>

<p>
New logos BY Urpo Lankinen (Submitted May 1st):<br>
Entry #4: <b>(1 vote)</b><br> <img src="logo_submissions/urpo/mikmod-bw.png" alt=""><br>
Entry #5: <b>(1 vote)</b><br> <img src="logo_submissions/urpo/mikmod-outlines.png" alt=""><br>
Entry #6: <b>(0 votes)</b><br> <img src="logo_submissions/urpo/mikmod-twocolor.png" alt=""><br>
Entry #7: <b>(0 votes)</b><br> <img src="logo_submissions/urpo/mikmod-fullcolor.png" alt=""><br>
</p>

<p>
Logos by Colin Branch:<br>
Entry #8: <b>(0 votes)</b><br> <img src="logo_submissions/colin/mikmod1.png" alt=""><br>
Entry #9: <b>(1 vote)</b><br> <img srC="logo_submissions/colin/mikmod2.png" alt=""><br>
Entry #10: <b>(0 votes)</b><br> <img src="logo_submissions/colin/mikmod3.png" alt=""><br>
Entry #11: <b>(0 votes)</b><br> <img src="logo_submissions/colin/mikmod4.png" alt=""><br>
</p>

<p>
Logo by Torsten Stremlau:<br>
Entry #12: <b>(1 vote)</b><br> <img src="logo_submissions/torsten/mikmod-logo.png" alt=""><br>
</p>

<p align="right">
<a href="http://mikmod.raphnet.net">
Back to MikMod Homepage
</a>
</p>





[% PROCESS "footer.tt2" %]

</body>
</html>
